In [2]:
# pandas 에서 제공하는 파일 입출력
import pandas as pd

In [3]:
file = pd.read_csv('./dataset/ex_1.csv')

In [5]:
print(file)
df = pd.DataFrame(file) # 데이터셋에 저장된 파일의 첫 행을 컬럼명으로 인식
df

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [6]:
file = pd.read_csv('./dataset/ex_1.csv',header = None)# 첫 행을 데이터로 인식
df1 = pd.DataFrame(file) 
df1

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [7]:
# index 컬럼을 c0으로 설정
file = pd.read_csv('./dataset/ex_1.csv',index_col = 'c0')
df2 = pd.DataFrame(file) 
df2

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [8]:
df2.to_csv("./dataset/to_ex1.csv")

In [9]:
# excel 파일 read
df2 = pd.read_excel('dataset/남북한발전전력량.xlsx')
print(df2)
print(df2.columns)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
Index(['전력량 (억㎾h)', '발전 전력별', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

In [10]:
df3 = pd.read_json('dataset/read_json_sample.json')# json파일 읽어오기
print(df3)
print(type(df3))
print(df3.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True
<class 'pandas.core.frame.DataFrame'>
Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [16]:
# html 읽어오기
url = 'dataset/sample.html'

tables = pd.read_html(url)
print(len(tables))# 테이블의 갯수 확인
print(tables)
print('-------------------')
# 테이블의 리스트와 원소를 출력
for i in range(len(tables)):
    print('tables {}'.format(i))
    print(tables[i])
    print()

2
[   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9,          name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True]
-------------------
tables 0
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

tables 1
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [17]:
# 데이터 프레임에 table[1]의 정보를 대입
df1 = tables[1]
print(df1)
print('-----------------------------')
print(tables[0])
# 데이터 프레임에 'name'컬럼을 인덱스로 설정
df1.set_index('name', inplace = True)
# year컬럼을 기준으로 정렬
# df1.sort_values(by = ['year'])
df1

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True
-----------------------------
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [19]:
df1.sort_values(by = ['year']) #year -> 오름차순 ??
df1

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [20]:
import os 
os.getcwd()

'C:\\Users\\shhmu\\Documents\\Python Pandas'

In [21]:
# csv 파일로 저장
df1.to_csv('dataset/sample.csv')

# json 파일로 저장
df1.to_json('dataset/to_json.json')

In [22]:
# excel 파일로 저장
df1.to_excel('dataset/to_excel.xlsx')

In [23]:
# 여러개의 데이터 프레임을 하나의 엑셀 파일로 저장(sheet 단위)
writer = pd.ExcelWriter('./dataset/to_excel_writer.xlsx')
df.to_excel(writer, sheet_name ='sheet1')
df3.to_excel(writer, sheet_name ='sheet2')
writer.save()