In [4]:
# %load "include.py" /'',""서로 다르게 인식함
#!/usr/bin/env python

# In[ ]:


import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import platform

import platform
if platform.system() == 'Darwin': #맥
        plt.rc('font', family='AppleGothic') 
elif platform.system() == 'Windows': #윈도우
        plt.rc('font', family='Malgun Gothic') 
elif platform.system() == 'Linux': #리눅스 (구글 콜랩)
        plt.rc('font', family='Malgun Gothic') 

plt.rcParams['axes.unicode_minus'] = False 
#한글 폰트 사용시 마이너스 폰트 깨짐 해결

In [5]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [11]:
df.info()
nan_deck = df['deck'].value_counts(dropna=False)
print(nan_deck)
print(df.head().isnull())
print(df.head().notnull())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64
   survived  pclass    sex    age  sibsp  parch   fare  embarked  class  \
0     False   False  False  False  False  False  False     False  False
1     False   False  False  False  False  False  False     False  False
2     False   False  False  False  False  False  False     False  False
3     False   False  False  False  False  False  False     False  False
4     False   False  False  False  False  False  False     False  False

     who  adult_male   deck  embark_town  alive  alone
0  False       False   True        False  False  False
1  False       False  False        False  False  False
2  False       False   True        False  False  False
3  False       False  False        False  False  False
4  False       False   True        False  False  False
   survived  pclass   sex   age  sibsp  parch  fare  embarked  class   who  \
0      True    True  True  True   True   True  True      True   True  True
1      True    True  True  True   True   True  True      True   True  True
2      True    True  True  True   True   True  True      True   True  True
3      True    True  True  True   True   True  True      True   True  True
4      True    True  True  True   True   True  True      True   True  True

   adult_male   deck  embark_town  alive  alone
0        True  False         True   True   True
1        True   True         True   True   True
2        True  False         True   True   True
3        True   True         True   True   True
4        True  False         True   True   True

In [15]:
df.isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [22]:
missing_df = df.isnull()
for col in missing_df.columns:
    missing_count = missing_df[col].value_counts()
    print('1----------------------------')
    print('{} : {}'.format(col,missing_count))
    print('2----------------------------')
    try:
        print(col,':',missing_count[True])
        print('3---------------')
    except:
        print(col,':',0)
        print('4---------------')

1----------------------------
survived : False    891
Name: survived, dtype: int64
2----------------------------
survived : 0
4---------------
1----------------------------
pclass : False    891
Name: pclass, dtype: int64
2----------------------------
pclass : 0
4---------------
1----------------------------
sex : False    891
Name: sex, dtype: int64
2----------------------------
sex : 0
4---------------
1----------------------------
age : False    714
True     177
Name: age, dtype: int64
2----------------------------
age : 177
3---------------
1----------------------------
sibsp : False    891
Name: sibsp, dtype: int64
2----------------------------
sibsp : 0
4---------------
1----------------------------
parch : False    891
Name: parch, dtype: int64
2----------------------------
parch : 0
4---------------
1----------------------------
fare : False    891
Name: fare, dtype: int64
2----------------------------
fare : 0
4---------------
1----------------------------
embarked : False    889
True       2
Name: embarked, dtype: int64
2----------------------------
embarked : 2
3---------------
1----------------------------
class : False    891
Name: class, dtype: int64
2----------------------------
class : 0
4---------------
1----------------------------
who : False    891
Name: who, dtype: int64
2----------------------------
who : 0
4---------------
1----------------------------
adult_male : False    891
Name: adult_male, dtype: int64
2----------------------------
adult_male : 0
4---------------
1----------------------------
deck : True     688
False    203
Name: deck, dtype: int64
2----------------------------
deck : 688
3---------------
1----------------------------
embark_town : False    889
True       2
Name: embark_town, dtype: int64
2----------------------------
embark_town : 2
3---------------
1----------------------------
alive : False    891
Name: alive, dtype: int64
2----------------------------
alive : 0
4---------------
1----------------------------
alone : False    891
Name: alone, dtype: int64
2----------------------------
alone : 0
4---------------

In [28]:
df_thresh = df.dropna(axis=1, thresh =500)
df_thresh

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

In [32]:
df_age = df.dropna(subset=['age'],how='any',axis=0) # 행을 지움
print(len(df_age))
df_age.head(50)

714

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,Southampton,no,False
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,Southampton,no,True
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,Southampton,yes,True
22,1,3,female,15.0,0,0,8.0292,Q,Third,child,False,Queenstown,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,Southampton,yes,True
24,0,3,female,8.0,3,1,21.0750,S,Third,child,False,Southampton,no,False
25,1,3,female,38.0,1,5,31.3875,S,Third,woman,False,Southampton,yes,False
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,Southampton,no,False
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,Cherbourg,no,True
33,0,2,male,66.0,0,0,10.5000,S,Second,man,True,Southampton,no,True
34,0,1,male,28.0,1,0,82.1708,C,First,man,True,Cherbourg,no,False
35,0,1,male,42.0,1,0,52.0000,S,First,man,True,Southampton,no,False
37,0,3,male,21.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
38,0,3,female,18.0,2,0,18.0000,S,Third,woman,False,Southampton,no,False
39,1,3,female,14.0,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
40,0,3,female,40.0,1,0,9.4750,S,Third,woman,False,Southampton,no,False
41,0,2,female,27.0,1,0,21.0000,S,Second,woman,False,Southampton,no,False
43,1,2,female,3.0,1,2,41.5792,C,Second,child,False,Cherbourg,yes,False
44,1,3,female,19.0,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
49,0,3,female,18.0,1,0,17.8000,S,Third,woman,False,Southampton,no,False
50,0,3,male,7.0,4,1,39.6875,S,Third,child,False,Southampton,no,False
51,0,3,male,21.0,0,0,7.8000,S,Third,man,True,Southampton,no,True
52,1,1,female,49.0,1,0,76.7292,C,First,woman,False,Cherbourg,yes,False
53,1,2,female,29.0,1,0,26.0000,S,Second,woman,False,Southampton,yes,False
54,0,1,male,65.0,0,1,61.9792,C,First,man,True,Cherbourg,no,False
56,1,2,female,21.0,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
57,0,3,male,28.5,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
58,1,2,female,5.0,1,2,27.7500,S,Second,child,False,Southampton,yes,False
59,0,3,male,11.0,5,2,46.9000,S,Third,child,False,Southampton,no,False
60,0,3,male,22.0,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
61,1,1,female,38.0,0,0,80.0000,NaN,First,woman,False,NaN,yes,True
62,0,1,male,45.0,1,0,83.4750,S,First,man,True,Southampton,no,False
63,0,3,male,4.0,3,2,27.9000,S,Third,child,False,Southampton,no,False
66,1,2,female,29.0,0,0,10.5000,S,Second,woman,False,Southampton,yes,True

In [ ]:
import seaborn as sns
df1 = sns.load_dataset('titanic')
print(df['age'].head(10))
print('\n')
mean_age = df['age'].mean(axis = 0)
df['age'].fillna(mean_age, inplace= True)